.account-pages {
  background-size: cover;
  background-color: $color-primary;
  background-image: url("../../webapp/img/account-bg.jpg");
  .wrapper-page {
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
    width: 430px;

    .account-bg {
      background-color: $color-gray-light;
      padding: 7px;
      border-radius: 8px;
    }

    .card-box{
      box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
      border: 5px solid $color-teal;
    }
    .logo {
      font-size: 28px;
      color: $color-primary !important;
    }
    .form-group {
      clear: both;
      display: -webkit-flex;
      display: flex;
    }

    .full-width {
      padding: 0 !important;
    }

    .text-more {
      margin-top: 20px;
    }
  }

}
