.btn {
	border: 0;
	border-radius: 3px;	 
	font-size: 1.05em;
	font-weight: 500;
	padding: 10px 20px; 
	transition: background-color .15s linear;

	&:active, &:hover, &:focus, &:active:active {
		outline: none;
	} 

	.fa {
		color: rgba(#fff, .9);
		margin: 0 10px 0 0;
		font-size: 1.15em;
	}
}

.btn-primary {
	background-color: $color-primary;

	&:active, &:hover, &:focus, &:active:active {
		background-color: darken($color-primary, 3%);
	}
}

.btn-secondary {
	background-color: $color-secondary;
	color: #fff;

	&:active, &:hover, &:focus, &:focus:active {
		background-color: lighten($color-secondary, 3%);
		color: #fff;
	}
}

/* Social Buttons */

.btn-facebook {
	color: $color-gray-light !important;
	background-color: #3b5998 !important;
}
.btn-twitter {
	color: $color-gray-light !important;
	background-color: #00aced !important;
}
.btn-linkedin {
	color: $color-gray-light !important;
	background-color: #007bb6 !important;
}
.btn-dribbble {
	color: $color-gray-light !important;
	background-color: #ea4c89 !important;
}
.btn-googleplus {
	color: $color-gray-light !important;
	background-color: #dd4b39 !important;
}
.btn-instagram  {
	color: $color-gray-light !important;
	background-color: #517fa4 !important;
}
.btn-pinterest  {
	color: $color-gray-light !important;
	background-color: #cb2027 !important;
}
.btn-dropbox  {
	color: $color-gray-light !important;
	background-color: #007ee5 !important;
}
.btn-flickr  {
	color: $color-gray-light !important;
	background-color: #ff0084 !important;
}
.btn-tumblr  {
	color: $color-gray-light !important;
	background-color: #32506d !important;
}
.btn-skype {
	color: $color-gray-light !important;
	background-color: #00aff0 !important;
}
.btn-youtube  {
	color: $color-gray-light !important;
	background-color: #bb0000 !important;
}
.btn-github  {
	color: $color-gray-light !important;
	background-color: #171515 !important;
}
