.col-sm-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xl-20 {	
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	width: 20%;
}

/* Margin / Padding classes */
.p-0 {
	padding: 0 !important;
}

.p-20 {
	padding: 20px !important;
}

.m-0 {
	margin: 0 !important;
}

.m-t-10 {
	margin-top: 10px !important;
}

.m-t-20 {
	margin-top: 20px !important;
}

.m-t-30 {
	margin-top: 30px !important;
}

.m-t-50 {
	margin-top: 50px !important;
}

.m-t-70 {
	margin-top: 70px !important;
}

.m-b-10 {
	margin-bottom: 10px !important;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.m-b-20 {
	margin-bottom: 20px !important;
}

.m-b-30 {
	margin-bottom: 30px !important;
}

.m-l-5 {
	margin-left: 5px !important;
}

.m-r-5 {
	margin-right: 5px !important;
}

@media (max-width: 767px) {
	.m-t-sm-40 {
		margin-top: 40px !important;
	}
}

@media (max-width: 480px) {
	.m-t-xs-40 {
		margin-top: 40px !important;
	}
}

/* Width */
.w-xs {
	min-width: 80px;
}

.w-sm {
	min-width: 95px;
}

.w-md {
	min-width: 110px;
}

.w-lg {
	min-width: 140px;
}

.font-13 {
	font-size: 13px;
}

.display-block {
	display: block;
}


.center {
	text-align: center;
}

.card-box {
	padding: 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-clip: padding-box;
	margin-bottom: 20px;
	background-color: $color-gray-light;
	box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.box-small {
	background-color: #fff;
	margin: 0 0 30px 0;
}

.aligncenter { 
	display: block !important;
	margin: auto; 
	margin-bottom: 22px; 	
	text-align: center; 
}

.alignleft { 
	float: left; 
	margin: 0 30px 22px 0;  
}

.alignright { 
	float: right; 
	margin: 0 0 22px 30px; 
}

.fullwidth {
	margin-left: -1000px;
	margin-right: -1000px;
	padding-left: 1000px;
	padding-right: 1000px;
}

.pull-top {
	margin-top: -60px;
}

.pull-bottom {
	margin-bottom: -60px;
}

.push-top {
	margin-top: 60px;
}

.push-bottom {
	margin-bottom: 60px;
}

.logo-shape {
	&:after, &:before {
		background-color: rgba($color-primary, .8);
		content: '';
		display: inline-block;
		height: 36px;
		margin-top: -8px;
		transform: rotate(-45deg);
		vertical-align: middle;
		width: 36px;

		.header-small & {
			height: 24px;
			width: 24px;
		}
	}

	&:after {
		margin-left: -10px;
	}
}

.background-white {
	background-color: #fff;
}

.information-bar {
	background-color: $color-primary;
	background-image: linear-gradient(to right, darken($color-primary, 5%), lighten($color-primary, 5%)); 
	color: #fff;
	font-size: 1.05em; 
	font-weight: 400;
	line-height: 2;
	padding: 20px 0;
	text-align: center;

	.fa {
		font-size: 1.25em;
		margin: 0 1rem 0 0;
		vertical-align: middle;
	}

	a {
		border-bottom: 1px solid rgba(#fff, .7);
		color: #fff;
		padding-bottom: 2px;

		&:hover {
			text-decoration: none;
		}
	}
}

.page-header {
	padding: 60px 0;
	text-align: center;

	&.page-header-small {
		padding: 30px 0 30px 0;
	}

	h1 {		
		color: darken($color-gray-darker, 10%);
		font-size: 3em;
		font-weight: 300;
		line-height: 1.5; 
		margin: 0;
		padding: 0;

		@include media-breakpoint-down(sm) {
			font-size: 2em;
		}
	}

	h2 {	
		color: darken($color-gray-darker, 10%);
		font-size: 2em;
		font-weight: 300;
		margin: 0;
		padding: 0;
		text-align: left;

		ul {
			font-size: .85rem;
			float: right;
			margin: 7px 0 0 0;
		}
	}

	h3 {
		border-bottom: 1px solid rgba(#000, .04);
		color: darken($color-gray-darker, 10%);
		font-size: 1.3em; 
		font-weight: 400;		
		padding: 0 0 20px 0;
		text-align: left;
	}

	p {
		color: lighten($color-gray-darker, 10%);
		font-size: 1.2em;
		font-weight: 400;
		line-height: 1.7; 		
		margin: 30px auto 0 auto;
		width: 75%;
	}

	ul {
		font-size: 1.2em;
		margin: 30px 0 0 0;
		padding: 0;

		li {			
			display: inline-block;

			a {
				color: $color-primary;
				display: inline-block;
				font-weight: 500;

				&:hover {
					border-bottom: 1px solid rgba($color-primary, .9);
					padding-bottom: 1px;
					text-decoration: none;
				}
			}

			&:after {
				color: $color-gray-dark;
				content: '/';
				display: inline-block;
				font-size: 1.5em;
				font-weight: 300;
				margin: 0 25px 0 30px;
				vertical-align: -2px;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			li {
				font-size: .9em;

				&:after {
					font-size: 1em;
					margin: 0 10px;
				}
			}
		}
	}
}

.page-subheader {
	padding-top: 60px;

	h2 {
		color: darken($color-gray-darker, 10%);
		font-size: 2em;
		font-weight: 300;
		margin: 0 0 30px 0;
	}

	h3 {
		border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    	font-size: 1.5em;
    	margin: 0 0 30px 0;
    	padding: 0 0 20px 0;
	}

	p {
		color: lighten($color-gray-darker, 15%);		
		font-size: 1.15em;
		line-height: 2;
		margin: 0;
	}

	.btn {
		margin: 30px 0 0 0;
	}
}

.page-subheader-small {
	padding: 0;
}

.warning {
	text-align: center;

	h1 {
		color: $color-primary;
		font-size: 18em;
		text-shadow: 8px 8px rgba(#000, .15); 

		@include media-breakpoint-down(sm) {
			font-size: 10em;
		}
	}

	h2 {
		color: $color-primary;
		font-size: 2em;
		text-shadow: 2px 2px rgba(#000, .15);
		margin-top: 25px;

		@include media-breakpoint-down(sm) {
			font-size: 1.5em;
		}
	}

	p {
		font-size: 2em;
		margin: 30px 0 0 0;
	}
}

.contact {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(#000, .08);
	font-size: .95em;
	width: 100%;

	td, th { 
		padding: 12px;
		vertical-align: top;
	}
}

.contact-map {
	height: 300px;
	margin: -60px 0 60px 0;
}

.image-wrapper {
	background-color: #fff;
	position: relative;
}

.image-holder {
	background-image: url('../img/tmp/tmp-9.jpg');
	background-size: cover;
	background-repeat: no-repeat; 
	background-position: left top;
	bottom: 0;	
	position: absolute;
	right: 0;
	top: 0;
}

.image-description-wrapper {
	padding-bottom: 120px;
	padding-top: 120px; 

	h2 {
		margin: 0 0 30px 0;		
		font-size: 2em;
	}

	p {
		color: lighten($color-gray-darker, 10%);
		margin: 0 0 30px 0;
	}
}

.fullwidth-wrapper { 
	display: table;
	height: 100%;
	margin: -60px 0;
	padding: 0;
	width: 100%;

	> .row {
		display: table-row;

		> div {
			display: table-cell;
			float: none;			
			overflow: hidden;
			padding: 0;
			vertical-align: top;

			&:first-child {
				padding: 30px; 
			}
		}
	}
}

.actionsbar {
	margin: 15px 0;
}