.footer-wrapper {
	background-color: $color-secondary;
	color: #fff;	

	.btn {
		font-size: 14px;
	}
}

.footer-bottom {
	@extend .clearfix;
	padding: 25px 0; 
}

.footer-top { 
	@extend .clearfix; 

	background-color: darken($color-secondary, 2%);
	margin: 0 -1000px;
	padding: 50px 1000px;	

	h2 {
		font-size: 1.5em;
		font-weight: 400;
		margin: 0 0 30px 0;		
	}

	p {
		color: rgba(#fff, .6);
		font-size: .95em;
	}

	form {
		margin: 0 0 20px 0;
	}

	.social {
		a {
			margin: 0 10px 0 0;
		}

		.fa {
			background-color: rgba(#fff, .05);
			border-radius: 50%;
			color: rgba(#fff, .8);
			display: inline-block;
			height: 40px;
			line-height: 40px;
			text-align: center;
			transition: all .15s linear;
			width: 40px;

			&:hover {
				background-color: $color-primary;
				color: #fff;
			}
		}	
	}

	.form-group {
		margin: 0;
	}

	.form-control {
		background-color: rgba(#fff, .08);
		border: 0;		
		color: #fff;
		transition: background-color .15s linear;

		&:active, &:focus {
			background-color: rgba(#fff, .12);
		}
	}	
}

.footer-top-left {
	float: left;
	width: 48%;

	@include media-breakpoint-down(sm) {
		float: none;
		margin-bottom: 60px;
		width: 100%;
	}
}

.footer-top-right {
	float: right;
	width: 48%;

	a {
		margin: 0 0 0 10px;
	}

	@include media-breakpoint-down(sm) {
		float: none;
		width: 100%;
	}	
}

.footer-inner {
	@extend .clearfix;	

	.nav-item {
		&:after {
			color: rgba(#fff, .4);
			content: '|';
			display: inline;
			padding: 0 15px 0 20px;
		}

		&:last-child {
			&:after {
				display: none
			}
		}
	}

	.nav-link {
		border-radius: 0;
		color: #fff;
		display: inline;
		padding: 0 0 3px 0;

		&:hover {
			border-bottom: 1px solid rgba(#fff, .6);
		}
	}
}

.footer-left {
	float: left;

	@include media-breakpoint-down(sm) {
		float: none;
		margin-bottom: 30px;
		width: 100%;
	}	
}

.footer-right {
	float: right;

	@include media-breakpoint-down(sm) {
		float: none;
		width: 100%;
	}	
}