#propertyFormSaver {
  display: none;
  text-align: center;

  img {
    width: 50%;
    margin: 50px auto;
  }
}

.maincontent {
  background-color: #ffffff;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 20px;

  article {
    margin: 20px auto;
  }

}

.listing-compare-title {
  .form-control {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
}

#adsThumbnails {

  .thumbnail {

    .image {
      margin-top: 15px;
      overflow: hidden;
      position: relative;
      text-align: right;
      background-color: $color-gray-dark;

      img {
        width: 100%;
      }

      .fa {
        margin: 5px 5px;
        color: red;
      }
    }
  }
}

ul.pagination {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    list-style: none;

    a, span{
      padding: 5px 8px;
      border: 1px solid $color-tertiary;
      font-weight: 600;
    }

  }
}

#header-buttons {
  width: 55%;
  margin-bottom: 5px;
  a {
    &.action-button {
      color: #fff;
      background-color: $color-move;
      border-color: $color-move;
      display: inline-block;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      //border: 1px solid transparent;
      padding: 0.375rem;
      font-size: 1rem;
      //line-height: 1.5;
      border-radius: 0rem;
      margin-top: 5px;
      width: 100%;
    }
  }
}

.fileslist {
  hr {
    margin: 5px 0;
  }
}

.share-buttons {
  a{
    text-decoration: none;

    &:link, &:active, &:hover {
      text-decoration: none;
    }
  }
}

.social-side {
  .social {
    a {
      margin: 0 10px 0 0;
    }

    .fa {
      background-color: $color-primary;
      border-radius: 50%;
      color: rgba(#fff, .8);
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      transition: all .15s linear;
      width: 40px;

      &:hover {
        background-color: $color-move;
        color: #fff;
      }
    }
  }
}

#lightgallery {

  position: relative;

  a{
    display: none;

    &:first-child {
      display: block;
    }
  }

  img {
    &.img-fluid {
      width: 100%;
    }
  }

  .zoom {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    opacity: .5;
  }

}