$color-primary: #39B54A;
$color-secondary: #212121;
$color-move: #ed1e79;
$color-tertiary: #808080;

$color-black: #323232;
$color-black-light: #626262;

$color-gray-darker: #666666;
$color-gray-dark: #DEDEDE;;
$color-gray-medium: #DDDDDD;
$color-gray: #f3f3f3;
$color-gray-light: #fafafa;

$color-turquoise: #0BB7A5;
$color-orange: #EC8C6F;
$color-orange-dark: #BB6733;
$color-purple: #8E5C90;
$color-cyan: #26C6DA;
$color-teal: #009688;
$color-magenta: #BF224E;
$color-green: #25b45b;
$color-green-dark: #429A66;
$color-red: #F75156;
$color-brown: #A1887F;
$color-blue: #06a7ea;
$color-blue-gray: #78909C;
$color-yellow: #FFDC27;